.hero{
    background-image: url(https://b.zmtcdn.com/mx-onboarding-hero87f77501659a5656cad54d98e72bf0d81627911821.webp );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    color: white;
}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;


}
.center-texxt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
   
}
.texts p{
    padding: 12px 130px 12px 0;
}
.regist-btn{
    padding: 10px 25px 10px 0;
}
.btn-1-A{
    padding: 15px 100px;
    color: white;
    background-color: #2781E7 ;
    border-radius: 12px;

}
.btn-2-A{
    padding: 15px 60px;
    border-radius: 12px;
   

}
.login{
    color: white;
    background: none;
    border: 1px solid white;
    padding: 8px;
    border-radius: 12px;
}


.cre-acc{
    color: white;
    background-color: #2781E7 ;
    border: 1px solid white;
    padding: 8px;
    border-radius: 12px;
}
.get-startedBox{

    width: 500px;
    height: 300px;
    position: absolute;
    left: 33%;
    bottom: 5%; 
    background-color: gray;
     padding: 20px 20px;
}
.get-startedBox p{
    text-align: center;

}
.lists{
    display: flex;
    gap: 15px;
    padding: 13px 0;
}
.lists ul li{
    padding:10px  0;
}
.partnerZomato{
    width: 100%;
    height: 300px;
   
    margin: 20% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid white ;
}
.data{
    display: flex;
    margin: 20px 10px;
    gap: 10px;
}
.box-1{
    width: 160px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    padding: 10px 0 0 0;
  
}
.box-2{
    width: 160px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    padding: 10px 0 0 0;
}
.box-3{
    width: 160px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    padding: 10px 0 0 0;
}
.howItWork{
    width: 100%;
    height: 300px;
 
    text-align: center;
    padding: 70px 0;

}
.card-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    bottom: 160px;
}
.section-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
}
.find-restraurent{
    display: flex;
   
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url(https://b.zmtcdn.com/contact-us-form-bgfcdedcf4a3df21e53e77114327898f831627911153.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
  
    gap: 30px;
}
.find-left{
 width: 300px;
 height: 200px;
}
.find-right{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  
    background-color: white;
    border: 1px;
    


}
.find-right input{
    padding: 20px;
    margin-bottom: 2%;
   
   
    font-size: 1rem;
    border: 1px solid gray;
}
.find-right-btn{
    padding: 15px 150px;
    border-radius: 10px;
    color: white;
    background-color: #2781E7;
    margin-bottom: 5px;

}
.delhi-ncr{
    padding: 10px 20px;

}
.delhi-ncr-input{
    padding: 10px 200px;
    text-align:start ;

}
.start-your-jurny{
    background-image: url( https://www.zomato.com/partner-with-us/static/media/StartJourney.7cfaaf0a.jpg);
    background-repeat: no-repeat;
    width: 900px;
    height: 300px;
    color: white;
    margin: 0 0 0 25%;
    padding: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.start-btn{
    padding: 10px;
    width: 130px;
}