.loginpage{
      margin:10% 40%;
    border: 1px solid black;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
   


}
.top-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}
.top-login p{
    font-size: 40px;
}